section.booking-step-1
	.banner-event
		figure
			img.ofc(src="./images/banner/5.png", alt="", srcset="")
	nav
		.container
			ul
				li.item
					a(href="dat-ve-buoc-1.html") Chọn vé
				li.item.active
					a(href="dat-ve-buoc-2.html") Thanh toán
				li.item Hoàn tất
	.booking
		.container
			.row
				.col-lg-8
					.buyer-info
						.title-box
							h3 Thông tin người nhận vé
						form(action="#")
							.form-row
								.form-group.col-lg-6
									label(for="firstname") Họ*
									input#firstname(type="text", name="", placeholder="Nhập họ của bạn")
								.form-group.col-lg-6
									label(for="lastname") Tên*
									input#lastname(type="text", name="", placeholder="Nhập tên của bạn")
								.form-group.col-lg-6
									label(for="email") Email*
									input#email(type="text", name="", placeholder="Nhập địa chỉ email nhận vé")
								.form-group.col-lg-6
									label(for="emailagain") Nhập lại Email*
									input#emailagain(type="text", name="", placeholder="Nhập lại Email")
								.form-group.col-lg-6
									label(for="phone") Số điện thoại*
									input#phone(type="text", name="", placeholder="Nhập số điện thoại")
								button(hidden)
				.col-lg-4
					.box-price
						.title-box
							h3 THÔNG TIN ĐẶT VÉ
							a(href="dat-ve-buoc-1.html") Sửa
						table
							thead
								tr
									th Loại vé
									th Số lượng
							tbody
								tr
									td
										.loaive Hạng A
										.gia 4.500.000
									td
										.soluong 3
										.tonggia 13.500.000
								tr
									td
										.loaive Hạng B
										.gia 3.500.000
									td
										.soluong 1
										.tonggia 3.500.000
								tr
									td Tổng cộng
									td 17.000.000
						button.btn Hoàn tất
