section.home-banner
		.banner-wrapper
			.swpier-container.slider-bannerHome
				.swiper-wrapper
					-for(i=1;i<5;i++)
						.swiper-slide
							a(href="chi-tiet-su-kien.html")
								.box-banner
									figure
										img.ofc(src="./images/banner/"+i+".png", alt="", srcset="")
										figcaption
											.type-of-event
												h5
													span A . Event
													| | Thể loại sự kiện
												span Name
											.name-event
												h5 TÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNERTÊN CỦA SỰ KIỆN TRÊN BANNER
											.decription-event
												p ĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆNĐOẠN TÓM TẮT CỦA SỰ KIỆN
												p 9.9.2019 | 21:00 - SÂN VẬN ĐỘNG QUÂN KHU 7 (THỜI GIAN)