section.home-news
	.container
		.tab-container
			.title-catalog.wow.fadeInLeft(data-wow-delay=".3s")
				a(href="#")
					img.icon(src="./images/icons/add.svg", alt="", srcset="")
				.name-catalog
					span A . Event - News
					a(href="#")
							h3 Tin Tức
			ul.list-catalogNews
				li.item(toggle-for="item-1").acitve NỔI BẬT
				li.item(toggle-for="item-2") GIẢI TRÍ
				li.item(toggle-for="item-3") GIẢI TRÍ
			.tab-content
				.content.wow.fadeIn(tab-id="item-1" data-wow-delay=".3s")
					.list-news
						-for(i=1;i<7;i++)
							.item-news
								a(href="chi-tiet-tin-tuc.html")
									figure
										.box-img
											img.ofc(src="./images/news/"+i+".png", alt="", srcset="")
										figcaption
											h5 Cùng Master Event Điểm Qua Một Khoảng Khắc Thú Vị Tại Sự Kiễn Lễ Hộ Sắc Màu
											span.time 23.10.2018
											p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
				.content.wow.fadeIn(tab-id="item-2" data-wow-delay=".3s")
					.list-news
						-for(i=7;i<13;i++)
							.item-news
								a(href="chi-tiet-tin-tuc.html")
									figure
										.box-img
											img.ofc(src="./images/news/"+i+".png", alt="", srcset="")
										figcaption
											h5 Sự kiện ra mắt đĩa bay không người lái của VN sản xuất tại trung quốc được tổ chức tại Thái Lan
											span.time 23.10.2018
											p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
				.content.wow.fadeIn(tab-id="item-3" data-wow-delay=".3s")
					.list-news
						-for(i=13;i<19;i++)
							.item-news
								a(href="chi-tiet-tin-tuc.html")
									figure
										.box-img
											img.ofc(src="./images/news/"+i+".png", alt="", srcset="")
										figcaption
											h5 Sự kiện ra mắt đĩa bay không người lái của VN sản xuất tại trung quốc được tổ chức tại Thái Lan
											span.time 23.10.2018
											p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
				.content.wow.fadeIn(tab-id="item-4" data-wow-delay=".3s")
					.list-news
						-for(i=19;i<25;i++)
							.item-news
								a(href="chi-tiet-tin-tuc.html")
									figure
										.box-img
											img.ofc(src="./images/news/"+i+".png", alt="", srcset="")
										figcaption
											h5 Sự kiện ra mắt đĩa bay không người lái của VN sản xuất tại trung quốc được tổ chức tại Thái Lan
											span.time 23.10.2018
											p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
				.content.wow.fadeIn(tab-id="item-5" data-wow-delay=".3s")
					.list-news
						-for(i=28;i<34;i++)
							.item-news
								a(href="chi-tiet-tin-tuc.html")
									figure
										.box-img
											img.ofc(src="./images/news/"+i+".png", alt="", srcset="")
										figcaption
											h5 Sự kiện ra mắt đĩa bay không người lái của VN sản xuất tại trung quốc được tổ chức tại Thái Lan
											span.time 23.10.2018
											p Cùng Master Event điểm qua những tấm hình ấn tượng của The Music Run qua các năm nhé các bạn.
