extends _layout/_layout.pug

block var
	- var title = 'A Event | Trang Chủ'

block main
	include _components/banner/b-1.pug
	include _components/about/a-1.pug
	include _components/hot-event/h-1.pug
	include _components/catalog-event/c-1.pug
	include _components/catalog-event/c-1.pug
	include _components/catalog-event/c-1.pug
	include _components/news/n-1.pug
	include _components/clients-partner/cp-1.pug
