footer
	.container
		.row.list-info-company
			.col-lg-6
				h5 HOGASH STUDIOS
				p Were a full-service digital agency that believes being a Favorite brand is more valuable than just being a Famous one. We craft beautifully useful, connected ecosystems that grow businesses and build enduring relationships between brands and humans.
			.col-lg-2.col-md-4
				h5 COMPANY
				ul.list-item-footer
					li.item-footer
						a(href='#') Our Blog
					li.item-footer
						a(href='#') Instagram
					li.item-footer
						a(href='#') Snapchat
					li.item-footer
						a(href='#') Facebook
					li.item-footer
						a(href='#') Twitter
					li.item-footer
						a(href='#') Dribbble
			.col-lg-2.col-md-4
				h5 MEMBER
				ul.list-item-footer
					li.item-footer
						a(href='#') Home
					li.item-footer
						a(href='#') About
					li.item-footer
						a(href='#') Pricing
					li.item-footer
						a(href='#') Blog
					li.item-footer
						a(href='#') Services
					li.item-footer
							a(href='#') Shop
			.col-lg-2.col-md-4
				h5 FOLLOW
				ul.list-item-footer
					li.item-footer
						a(href='#') Account
					li.item-footer
						a(href='#') Billing
					li.item-footer
						a(href='#') Membership
					li.item-footer
						a(href='#') Receipt
					li.item-footer
						a(href='#') Invoice
		.coppy-right
			h3 @ 2020 
				a(href='https://www.facebook.com/hoangviet.hung.009')
					span A EVENT | ALL COPYRIGHT BY A EVENT
			p This is Project of Hùng, Tuyến, Huy, Sơn.
