header
	.container
		.row
			.left-menu
				.logo
					a(href="index.html")
						img(src="./images/logo.png", alt="")
			.add-event
				a(href="form-dang-sk.html")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" class="sc-ckVGcZ cRPCZL"><g fill="none" fill-rule="evenodd"><circle id="oval-plus" class="sc-dxgOiQ kSEybs" stroke-width="2" cx="12" cy="12" r="11"></circle><path d="M6,12 L18,12" id="Line" class="sc-dxgOiQ kSEybs" stroke-width="2" stroke-linecap="square"></path><path d="M12,6 L12,18" id="Line2" class="sc-dxgOiQ kSEybs" stroke-width="2" stroke-linecap="square"></path></g></svg>
					span ADD A EVENT
			.right-menu
				.button-login
					//- a(href="dang-nhap.html")
					//- 	<svg class="sc-eNPDpu cjclFo" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"><g transform="translate(1 1)" stroke="#fff" stroke-width="2" fill="none"><circle cx="12" cy="12" r="12"></circle><path d="M15.65 6.78a3.56 3.56 0 0 0-3.5-3.65H12a3.56 3.56 0 0 0-3.65 3.5v.15c0 .42.42 2.45.42 2.45.3 1.78 1.46 3.3 3.23 3.3s2.92-1.47 3.23-3.3c0 0 .42-2.03.42-2.45zM3.13 20.09v-.37c0-1.62 1.2-2.82 2.82-3.23l6.05-1.1 6.1 1.15c1.57.47 2.77 1.56 2.77 3.23v.37"></path></g></svg>
					//- 	span Login
				.avatar
					figure
						.box-img
							img.ofc(src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/56446500_806542706382160_330506997671657472_n.jpg?_nc_cat=104&_nc_oc=AQkJPyas19gTNCr6eI_T0vLLSNDj5RdUX2WpIxDmu0BWtBY6RTU8ALdFpub_xZEq9ts&_nc_ht=scontent.fsgn5-4.fna&oh=7e444b18b75f6dce936da9eed8f6778b&oe=5E1AD9DB", alt="")
						figcaption
							h5 HOÀNG VIỆT HÙNG
					#sub-information
						.close
							<svg width="26" height="24" xmlns="http://www.w3.org/2000/svg"><g><rect fill="none" id="canvas_background" height="26" width="28" y="-1" x="-1"/></g><g><path fill="#91918e" stroke="null" id="svg_2" d="m13.475695,0.194444c-6.483507,0 -11.788195,5.304688 -11.788195,11.788195c0,6.483507 5.304688,11.788195 11.788195,11.788195s11.788195,-5.304688 11.788195,-11.788195c0,-6.483507 -5.304688,-11.788195 -11.788195,-11.788195zm5.776215,15.914063l-1.650347,1.650347l-4.125868,-4.125868l-4.125868,4.125868l-1.650347,-1.650347l4.125868,-4.125868l-4.125868,-4.125868l1.650347,-1.650347l4.125868,4.125868l4.125868,-4.125868l1.650347,1.650347l-4.125868,4.125868l4.125868,4.125868z"/></g></svg>
						figure
							.box-img
								img.ofc(src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.0-9/56446500_806542706382160_330506997671657472_n.jpg?_nc_cat=104&_nc_oc=AQkJPyas19gTNCr6eI_T0vLLSNDj5RdUX2WpIxDmu0BWtBY6RTU8ALdFpub_xZEq9ts&_nc_ht=scontent.fsgn5-4.fna&oh=7e444b18b75f6dce936da9eed8f6778b&oe=5E1AD9DB", alt="")
							figcaption
								h5 HOÀNG VIỆT HÙNG
									span V.I.P
								a(href="#") Logout
						ul.list-item
							a(href="form-dang-sk.html")
								li.item Thêm sự kiện mới
							a(href="su-kien-da-tao.html")
								li.item Sự kiện đã tạo
							a(href="thong-tin-tai-khoan.html")
								li.item Thông tin tài khoản
							a(href="#")
								li.item Đăng xuất
				.button-search
					a(href="tim-kiem.html")
						<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><g><rect fill="none" id="canvas_background" height="28" width="28" y="-1" x="-1"/></g><g><g stroke="null" id="svg_8"><path fill="#ffffff" stroke="null" id="svg_4" d="m23.537278,25.717651c-0.574281,0 -1.148562,-0.255236 -1.595225,-0.63809l-7.018988,-7.018988c-0.255236,-0.255236 -0.255236,-0.63809 0,-0.893326s0.63809,-0.255236 0.893326,0l7.018988,7.018988c0.382854,0.382854 1.020944,0.382854 1.339989,0c0.382854,-0.382854 0.382854,-1.020944 0,-1.339989l-7.018988,-7.018988c-0.255236,-0.255236 -0.255236,-0.63809 0,-0.893326s0.63809,-0.255236 0.893326,0l7.018988,7.018988c0.893326,0.893326 0.893326,2.297123 0,3.190449c-0.382854,0.319045 -0.957135,0.574281 -1.531416,0.574281z"/><g stroke="null" id="svg_7"><path fill="#ffffff" stroke="null" id="svg_2" d="m10.073583,19.911034c-5.423763,0 -9.826583,-4.40282 -9.826583,-9.826583s4.40282,-9.890392 9.826583,-9.890392s9.890392,4.466629 9.890392,9.890392c0,0.765708 -0.063809,1.531416 -0.255236,2.297123c-0.063809,0.319045 -0.446663,0.574281 -0.765708,0.446663c-0.319045,-0.063809 -0.574281,-0.446663 -0.446663,-0.765708c0.127618,-0.63809 0.255236,-1.27618 0.255236,-1.978078c0,-4.721865 -3.828539,-8.614213 -8.614213,-8.614213s-8.614213,3.892348 -8.614213,8.614213s3.828539,8.614213 8.614213,8.614213c0.701899,0 1.339989,-0.063809 2.041887,-0.255236c0.319045,-0.063809 0.701899,0.127618 0.765708,0.446663c0.063809,0.319045 -0.127618,0.701899 -0.446663,0.765708c-0.829517,0.191427 -1.595225,0.255236 -2.424741,0.255236z"/><path fill="#ffffff" stroke="null" id="svg_6" d="m10.073583,17.422483c-4.019966,0 -7.338033,-3.318067 -7.338033,-7.338033s3.318067,-7.338033 7.338033,-7.338033s7.338033,3.318067 7.338033,7.338033s-3.254258,7.338033 -7.338033,7.338033zm0,-13.399886c-3.318067,0 -6.061853,2.743786 -6.061853,6.061853s2.743786,6.061853 6.061853,6.061853s6.061853,-2.743786 6.061853,-6.061853s-2.679977,-6.061853 -6.061853,-6.061853z"/></g></g></g></svg>
