section.product-detail
	.banner-event
		figure
			img.ofc(src="./images/banner/5.png", alt="", srcset="")
	.main-intro
		.container
			.row
				.col-lg-8
					.overview
						h1.wow.fadeInLeft(data-wow-delay=".3s") Chill cùng Đen Vâu
						.item.time.wow.fadeInLeft(data-wow-delay=".6s") Thứ 7, 09 Tháng 11 2019 (08:00 PM - 11:00 PM)
						.item.address.wow.fadeInLeft(data-wow-delay=".9s") Nhà thi đấu Quân khu 7 202 Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Thành Phố Hồ Chí Minh
					.details-event
						.desc
							.title GIỚI THIỆU
							.CKEditor
								p.text-center.color-red [Vé sẽ được chính thức mở bán vào lúc 8h tối ngày 18/10/2019]
								p Đen Vâu - cái tên hẳn đã không còn xa lạ với những người yêu thích dòng nhạc Rap/Indie ở Việt Nam. Rap của Đen thường đi sâu vào những tâm tư "ai cũng có nhưng khó-miêu-tả" của đa số người trẻ nên luôn nhận được sự đồng cảm và đón nhận rất lớn. Những câu rap của Đen nghe thì rất bình dị gần gũi, nhưng lại là sự chắt lọc kỹ lưỡng đến từng câu chữ và ý tứ. Đen luôn mong muốn bằng âm nhạc của mình có thể truyền được cảm hứng sống tích cực và tinh thần lạc quan, yêu đời đến người nghe.
								p Show của Đen là liveshow đầu tiên trong sự nghiệp, đánh dấu cột mốc 10 năm theo đuổi con đường âm nhạc của Đen. Đây cũng là lời cảm ơn chân thành nhất mà Đen muốn dành tặng đến những Đồng âm đã luôn theo dõi và ủng hộ mình suốt thời gian qua.
								p Hãy đến để cùng Đen nhìn lại chặng đường 10 năm đã qua, và chờ đón những điều thật đặc biệt!
								p.color-red Lưu ý: Trên mỗi đơn hàng, quý khách được đặt tối đa 2 vé và vé sẽ không được đổi trả vì bất kỳ lý do nào.
								p.color-red Vì lý do bảo trì, nên khách hàng sử dụng hình thức thanh toán Internet Banking qua thẻ ATM của Ngân hàng Đông Á sẽ không thực hiện được trong thời gian này. Quý khách vui lòng sử dụng tài khoản ngân hàng khác để có thể đặt được vé.
								p Sơ đồ chỗ ngồi:
								figure
									img.ofc(src="./images/product/product-detail.png", alt="", srcset="")
						.ticket-booking
							.title THÔNG TIN VÉ
							.list-ticket.wow.fadeInDown(data-wow-delay=".3s")
								.item
									.name HẠNG A
									.price 400.000 VND
									.info-ticket
										p Vị trí:
											span Ghế ngồi trên khán đài A
										p  Quà tặng (sẽ nhận tại sự kiện):
											span Nón
										p Lưu ý:
											span Trên mỗi đơn hàng, quý khách được đặt tối đa 2 vé
								.item
									.name HẠNG B
									.price 800.000 VND
									.info-ticket
										p Vị trí:
											span Ghế ngồi trên khán đài A
										p  Quà tặng (sẽ nhận tại sự kiện):
											span Nón
										p Lưu ý:
											span Trên mỗi đơn hàng, quý khách được đặt tối đa 2 vé
								.item
									.name HẠNG C
									.price 1.600.000 VND
									.info-ticket
										p Vị trí:
											span Ghế ngồi trên khán đài A
										p  Quà tặng (sẽ nhận tại sự kiện):
											span Nón
										p Lưu ý:
											span Trên mỗi đơn hàng, quý khách được đặt tối đa 2 vé
								.item
									.name HẠNG D
									.price 2.000.000 VND
									.info-ticket
										p Vị trí:
											span Ghế ngồi trên khán đài A
										p  Quà tặng (sẽ nhận tại sự kiện):
											span Nón
										p Lưu ý:
											span Trên mỗi đơn hàng, quý khách được đặt tối đa 2 vé
						.gmap
							.title BẢN ĐỒ
							include ../google-map/g-map
						.organizer
							.title NHÀ TỔ CHỨC
							.content.wow.fadeInDown(data-wow-delay=".3s")
								.org-img
									img.ofc(src="./images/product/organizer.png", alt="", srcset="")
								.desc
									p Grab và Yeah1 Network phối hợp tổ chức chương trình.
				.col-lg-4.aside-boxing
					.box-booking
						a.btn.wow.flipInX(href="dat-ve-buoc-1.html" data-wow-delay=".5s") MUA VÉ NGAY
						.overview
							h1 Chill cùng Đen Vâu
							.item.time Thứ 7, 09 Tháng 11 2019 (08:00 PM - 11:00 PM)
							.item.address Nhà thi đấu Quân khu 7 202 Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Thành Phố Hồ Chí Minh
							.item.price Từ 400.000 VND
						.facebook-button
							.item
								.button.fb-share-button(data-href='https://aevent.web404.xyz/', data-layout='button', data-size='large')
								a.fb-xfbml-parse-ignore(target='_blank', href='https://aevent.web404.xyz/')
							.item
								.button.fb-save(data-uri='https://www.instagram.com/facebook/', data-size='large')