section.hot-event
	.container
		.hotEvent-wrapper
			.swpier-container.slider-hotEvent
				.swiper-wrapper
					.swiper-slide
						figure.wow.fadeInDown(data-wow-delay=".3s")
							.box-img
								img.ofc(src="./images/hot-item/1.png", alt="", srcset="")
							figcaption
								.name-event.wow.fadeIn(data-wow-delay=".3s")
									h3 Sky tour 2019
									h5.wow.fadeIn(data-wow-duration="4s") Nhận ngay ưu đãi hấp dẫn khi mua vé Sky Tour 2019 trên A.Event
								.decription-event.wow.fadeIn(data-wow-delay=".6s")
									.box-countdown(data-over="11/29/2020 23:59:00")
										.block
											.hours 0
											span Giờ
										.block
											.minutes 0
											span Phút
										.block
											.seconds 0
											span Giây
										.block
											span 9.9.2019
									p.limit-line Sky Tour đánh dấu cột mốc mới trong hành trình âm nhạc của Sơn Tùng M-TP trong năm 2019, nối tiếp dự án "Hãy Trao Cho Anh". Nam ca sĩ từng biểu diễn nhiều sân khấu, tổ chức các liveshow bùng nổ nhưng đằng sau mỗi sự bùng cháy đó, anh đều mong muốn mình làm được nhiều hơn thế nữa.
								a.right.wow.flipInX(href="chi-tiet-su-kien.html" data-wow-delay=".5s") Tham Gia
					.swiper-slide
						figure.wow.fadeInDown(data-wow-delay=".3s")
							figcaption
								.name-event.wow.fadeIn(data-wow-delay=".3s")
									h3 Shark Tank
									h5 Cùng tận hưởng trực tiếp các thương vụ vô cùng kịch tính
								.decription-event.wow.fadeIn(data-wow-delay=".6s")
									.box-countdown(data-over="11/11/2020 23:59:00")
										.block
											.hours 0
											span Giờ
										.block
											.minutes 0
											span Phút
										.block
											.seconds 0
											span Giây
										.block
											span 9.9.2019
									p.limit-line Chương trình truyền hình đầu tư thực tế “Shark Tank Việt Nam - Thương vụ bạc tỷ” đang thu hút sự chú ý từ nhiều bạn trẻ, đặc biệt là các công ty khởi nghiệp (start-up), trong không khí quốc gia cùng khởi nghiệp.
									a(href="chi-tiet-su-kien.html") Tham Gia
							.box-img
								img.ofc(src="./images/hot-item/2.png", alt="", srcset="")
				.swiper-pagination
				.swiper-button-next.icon
				.swiper-button-prev.icon