section.home-about
	.container
		a(data-fancybox data-width="1000" data-height="560" href="https://vimeo.com/135446397")
			.block-about
				h2.text-left.wow.bounceInUp(data-wow-duration="2s") A . Event - sự kiện của bạn
					br
					span niềm vui mọi người
				h2.text-right.wow.bounceInUp(data-wow-duration="2s") Chúng tôi là ai ?
					br
					span click để hiểu nhau hơn