.register {
	position           : relative;
	height             : 2000px;
	background-image   : url(../images/bg-login-register.svg);
	background-size    : cover;
	background-position: center 95px;

	.form-row {
		margin: 0 -15px;
	}

	.box-register {
		position  : absolute;
		width     : 500px;
		background: #232627;
		top       : 150px;
		left      : 50%;
		transform : translateX(-50%);
		border    : 1px solid #37393a;

		.menu-login-register {
			display  : flex;
			flex-wrap: wrap;

			.item {
				flex         : 0 0 50%;
				max-width    : 50%;
				border-bottom: 1px solid #37393a;
				border-right : 1px solid #37393a;
				padding      : 20px;
				text-align   : center;
				background   : #202324;

				>a {
					color         : rgba(255, 255, 255, 0.5);
					text-transform: uppercase;
					transition    : .3s all ease-in-out;

					&:hover {
						color: $main-color-1;
					}
				}

				&.active {
					border    : none;
					background: #232627;

					>a {
						color: #FFFFFF;
					}
				}
			}
		}

		.box-form-register {
			padding: 50px 30px;

			.form-group {
				margin-bottom: 30px;

				label {
					cursor       : pointer;
					font-size    : 15px;
					color        : $main-color-1;
					margin-bottom: 20px;

					&.choose-file {
						background   : $main-color-2;
						padding      : 10px 20px;
						border-radius: 15px;
						width        : 100%;
					}

					&.check-box {
						user-select : none;
						margin-right: 20px;
					}
				}

				.form-input {
					position: relative;

					input[type="text"],
					input[type="password"],
					input[type="phone"] {
						font-size     : 20px;
						color         : #FFFFFF;
						width         : 100%;
						background    : none;
						border        : none;
						padding-bottom: 10px;
						border-bottom : 2px solid rgba(255, 255, 255, 0.5);
					}

					input[type="radio"] {
						margin-right: 20px;
					}

					input[type="date"] {
						width        : 100%;
						margin-right : 20px;
						border       : none;
						background   : $main-color-2;
						color        : $main-color-1;
						padding      : 10px 0px 10px 10px;
						border-radius: 15px;
					}

					select {
						width        : 100%;
						color        : $main-color-1;
						background   : $main-color-2;
						height       : 42px;
						border       : none;
						padding-left : 15px;
						border-radius: 15px;

						option {
							text-align: center;
						}
					}

					.error {
						display   : block;
						text-align: right;
						margin-top: 10px;
						color     : #bc2e31;
					}
				}

				p {
					margin-bottom: 10px;
				}
			}
		}

		.forgot-pass {
			float     : right;
			margin-top: 10px;

			>a {
				font-size : 15px;
				color     : rgba(255, 255, 255, 0.5);
				transition: .3s all ease-in-out;

				&:hover {
					color: #FFFFFF;
				}
			}
		}
	}
}